@charset "utf-8";


:root{
 --color-yellow: rgb(255, 200, 20);
 --text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8)
}

html{
 font-size: 10px;
 /*hyphens: auto*/
}

body{
 font-family: 'Inter', sans-serif;
 font-size: 1.4em
}


body > main{
 display: flex; justify-content: center; align-items: center
}


h1, h2, h3, h4{
 font-family: 'DrukTextWideCy', sans-serif;
}



@media all and (max-width: 320px){

}